# latex workshop compilation output
learning-la.aux
learning-la.fdb_latexmk
learning-la.fls
learning-la.log
learning-la.out
learning-la.synctex.gz

# biblatex output
learning-la.bbl
learning-la.bcf
learning-la.blg
learning-la.run.xml
